body{
	background-color:#D9B19C;
	font-family:Arial;
	margin:0;
	padding:0;
	overflow:hidden;
}

header{
	overflow:hidden;
	background-color:#313D1D;
	color: black;
	width:100%;
	height:80px;
	display:flex;
	align-items:center;
	padding:10px;
	border-bottom: 3px solid #46592A;
}


a{
	color:#2B78E4;
	text-decoration: none;
}
a:active{
	color:#2B78E4;

}



/*=====HEADER BANNER INFO========================================= */
/*....BANNER LEFT...........................*/
#restuarantLogoContainer{
	justify-content:left;
}
#restuarantLogoContainer img{
	width:auto;
	height:90px;
}

b{
	font-weight: bolder;
}


/*....BANNER CENTER...........................*/

#navigation{
	margin-left:17vh;
	justify-content:center;
	display: inline;
}
#navigation li{
	font-size: 40px;
	display:inline;
	padding: 8px;
}



/*......BANNER RIGHT...........................*/
#socialMediaLogos{
	display:flex;
	align-items:center;
	float:right;
	
}

#socialMediaLogos img{
	float:right;
	width:auto;
	height:30px;
	padding:5px;
	
}



/*======FOOTER===========================*/
#footer{
	flex: 0 1 60px;
	border-top: 3px solid #46592A;
	margin:0;
	display:none;
	position:static;
	bottom:0;
	overflow:hidden;
	background-color:#313D1D;
	color: black;
	width:100%;
	min-height:100px;
	display:flex;
	align-items:center;
	justify-content: space-between;
	padding:10px;	
}
h3{
	color:white;
}

#footer p{
	font-size:12px;
}

/*....BANNER LEFT.............*/
#findUs, #hours #contactUs{
	padding-left:10px;
	padding-right:10px;
}

