body{
	margin:0;
	overflow-x:hidden;
	overflow-y:auto;
}
h1{
	margin:0;
}

#welcomeMessage {
	float:center;
	background-color:#D9B19C;
	height:200px;
	width:100%;
	color: black;
	justify-content:center;
}

#gallery {
 float:center;
  display: inline-grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 0px;
  overflow:hidden;
  margin-bottom:200px;
}
#gallery img{
	width:90vh;
	height:100vh;
	object-fit:cover;
	
}

