h1 {
  color: #ff0000;
  text-align: center;
  border-bottom: 5px solid #ff0000;
} 

.yellow {
  color: yellow;
}

#left {
        float: left;
        width: 74.5%;
}

#right {
	
        float: right;
        border: 2px solid #0011ff;
        width: 25%;

}

h2 {
        color: #0011ff;
	text-align:left;
        border-bottom: 3px solid #0011ff;
}

p {
        text-indent: 25px;
}
#contactInfo{
	text-indent:0px;
}
